@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
  font-weight: 600;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md font-medium;
  text-transform: none;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.card {
  @apply shadow-lg border border-base-200;
}

.modal {
  background-color: rgba(15, 23, 42, 0.7);
}

.modal-box {
  @apply rounded-lg border border-base-200;
  max-height: 90vh;
  overflow-y: auto;
}

.table {
  @apply rounded-lg;
}

.table th:first-child {
  @apply rounded-tl-lg;
}

.table th:last-child {
  @apply rounded-tr-lg;
}

/* Add custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-base-200;
}

::-webkit-scrollbar-thumb {
  @apply bg-base-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary/50;
}

@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}
